<div mat-dialog-title>
  <h1>Editar ciclo</h1>
</div>
<form [formGroup]="cycleEditForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Descripción:</mat-label>
        <input matInput type="text" formControlName="description">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Fecha de inicio:</mat-label>
        <input matInput [matDatepicker]="pickerStart" formControlName="startDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="pickerStart"></mat-datepicker-toggle>
        <mat-datepicker #pickerStart></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Fecha de término:</mat-label>
        <input matInput [matDatepicker]="pickerEnd" formControlName="endDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput readonly="true" placeholder="Ciclo activo">
        <mat-checkbox matSuffix formControlName="active"></mat-checkbox>
      </mat-form-field>
    </div>
    <div formGroupName="principal">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Director:</mat-label>
          <mat-select formControlName="id">
            @for (principal of principals; track principal) {
              <mat-option [value]="principal.id">{{principal.profile.name}} {{principal.profile.parentLastName}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="action-btns">
    <button style="margin: 10px;" mat-raised-button color="basic" type="submit">Actualizar</button>
    <button mat-raised-button type="button" color="warn" [mat-dialog-close]="false">Cancelar</button>
  </div>
</form>
