 <mat-card class="mat-elevation-z5">
    <mat-card-header>
      <mat-card-title>Total de {{ cardElement.label }}</mat-card-title>
      <mat-card-subtitle>Activos en este ciclo</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="flex-row">
        <div class="temp">
          <span class="big-text">{{ cardElement.total }}</span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions *ngIf="currentRole === 'ROLE_ADMIN'">
      <button mat-button routerLink="{{cardElement.action}}">Administrar</button>
    </mat-card-actions>
  </mat-card>
