<div mat-dialog-title>
  <h1>Editar una materia</h1>
</div>
<form [formGroup]="courseEditForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Nombre:</mat-label>
        <input matInput type="text" placeholder="i.e TEO_SIST" formControlName="title">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Descripción:</mat-label>
        <input matInput type="text" placeholder="i.e Teología Sistemática" formControlName="description">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Créditos:</mat-label>
        <input matInput type="number" formControlName="credits">
      </mat-form-field>
    </div>
    <div formGroupName="teacher">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Profesor:</mat-label>
          <mat-select formControlName="id">
            @for (teacher of teachers; track teacher) {
              <mat-option [value]="teacher.id">{{teacher.profile.name}} {{teacher.profile.parentLastName}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div formGroupName="category">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Categoría:</mat-label>
          <mat-select formControlName="id">
            @for (category of categories; track category) {
              <mat-option [value]="category.id">{{category.title}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="action-btns">
    <button style="margin: 10px;" mat-raised-button color="accent" type="submit">Guardar</button>
    <button mat-raised-button type="button" color="warn" [mat-dialog-close]="false">Cancelar</button>
  </div>
</form>
